<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
<meta charset="ISO-8859-1">
<meta http-equiv=“content-type“ content=“text/html; charset=UTF-8″>

<title>Warenkorb</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	inigintegrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossor="anonymous">
	<link th:href="@{/resources/css/style.css}" rel="stylesheet"
              href="../static/resources/css/style.css" type="text/css"/>
</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <section layout:fragment="content">
        <div class ="content">
        <div class ="container">
            <div th:unless="${cart.empty}">
                <table class="table table-striped table-bordered">
                    <thead class = "table-dark">
                    <tr>
                        <th>Produktname</th>
                        <th>Anzahl</th>
                        <th>Preis</th>
                        <th>Einstellung </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="item : ${cart} ">
                        <td th:text="${item.productName}">Last Action Hero</td>
                        <td th:text="${item.quantity}">10</td>
                        <td th:text="${{item.price}}">10 Euro</td>
                        <td>
							<a th:href = "@{/cart/delete/{id}(id=${item.getId()})}"
						 		class = "btn btn-danger">Löschen</a>
						 </td>
                    </tr>
                    </tbody>
                </table>


                <div class="ui two column centered grid">
                    <div class="four column centered row">
                        <div class="column">
                            <div class="ui horizontal statistic">
                                <div class="label">Summe: </div>
                                <div class="value"><span th:text="${{cart.price}}">1337</span></div>
                            </div>
                        </div>
                        <div class="column">
                        	<form th:action="@{/checkout}" th:object = "${checkoutForm}" method="POST" sec:authorize="isAuthenticated()">
                            	<div class="form-group">
									<label>Kundennummer</label> <input type="text" name="kundennummer"
										th:field="*{kundennummer}" class="form-control" placeholder="Kundennummer eingeben" />
								</div>
								<div class="form-group">
									<label for="lieferart">Lieferart</label> <select name="lieferart" th:field="*{lieferart}">
										<option th:value="Abholung">Abholung</option>
										<option th:value="LKW_mieten">LKW mieten</option>
										<option th:value="Liefern">Lieferung</option>
									</select>
								</div>	
								<div class="form-group">
									<label>Lieferadresse</label> <input type="text" name="lieferadresse"
										th:field="*{lieferadresse}" class="form-control" placeholder="Bei Lieferung: Lieferadresse eingeben" />
								</div>
                                <button type="submit" class="ui button">Kaufen</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <h2 th:if="${cart.empty}">Warenkorb ist leer</h2>
        </div>
        </div>
        </section>
    </body>
</html>
