<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="styleProd.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />
  </head>

  <body>
    <main class="container">

      <!-- Left Column Image -->
      <div class="left-column">
        <img data-image="black" src="Katalog/GamingstuhlSchwarz.jpg" alt="" style="width:65%">
        <img data-image="blue" class="active" src="Katalog/GamingstuhlBlaue.jpg" alt="" style="width:65%">
        <img data-image="red"  src="Katalog/GamingstuhlRot.jpg" alt="Gamingstuhl" style="width:65%">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>Gaming Stuhl</span>
          <h1>Gamingstuhl</h1>
          <p>Multifunktional: 360-Grad-Drehung, Stuhllehne kann in jedem Winkel zwischen 90° und 170° 
		  arretiert werden, höhenverstellbarer Sitz und Armlehnen für unterschiedliche Tischhöhen und 
		  Höhenanforderungen, um Ihre bequemste Position zu finden, perfekt für Heimbüro, Spiele und 
		  Mittagspausen.</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

          <!-- Product Color -->
          <div class="product-color">
            <span>Color</span>

            <div class="color-choose">
              <div>
                <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                <label for="red"><span></span></label>
              </div>
              <div>
                <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                <label for="blue"><span></span></label>
              </div>
              <div>
                <input data-image="black" type="radio" id="black" name="color" value="black">
                <label for="black"><span></span></label>
              </div>
            </div>

          </div>
        <!-- Product Pricing -->
        <div class="product-price">
          <span>€ 159.99</span>
          <a href="#" class="call-btn">RUF UNS AN</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
