<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv=“content-type“ content=“text/html; charset=UTF-8″>
<title>Lager Verwaltung</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<nav>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/moebeln}">Lager</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Neues Produkt hinzufügen</h1>
				<div class="card-body">
					<form th:action="@{/moebeln}" th:object = "${moebel}" method="POST">
						

						<div class="form-group">
							<label>Name</label> <input type="text" name="name"
								th:field="*{name}" class="form-control" placeholder="Name eingeben" />
								<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
						</div>
						
						<div class="form-group">
							<label>Farbe</label> <input type="text" name="farbe"
								th:field="*{farbe}" class="form-control" placeholder="Farbe eingeben" />
								<p th:if="${#fields.hasErrors('farbe')}" th:errors="*{farbe}"/>
						</div>
						

						<div class="form-group">
							<label>Preis</label> <input type="text" name="preis"
								th:field="*{preis}" class="form-control" placeholder="Preis eingeben" />
						</div>
						
						<div class="form-group">
							<label>Menge</label> <input type="text" name="menge"
								th:field="*{menge}" class="form-control" placeholder="Menge eingeben" />
						</div>
                      
                      <div class="form-group">
							<label>Kategorie</label> <input type="text" name="menge"
								th:field="*{menge}" class="form-control" placeholder="Kategorie eingeben" />
						</div>
                      
                      <div class="form-group">
    					 <text>Fotodatei: </text>
  						  <input type="file" name="image" accept="image/png, image/jpeg" />
      </div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Bestätigen</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>